<div id="<%= dom_id category %>">
  <div>
    <strong>Title:</strong>
    <%= category.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= category.description %>
  </div>

  <div>
    <strong>User:</strong>
    <%= category.user_id %>
  </div>

</div>
